@font-face {
    font-family: 'Poppins-Bold';
    src: url("../matirial/PSD/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url("../matirial/PSD/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url("../matirial/PSD/fonts/Poppins-Regular.ttf");
}