.container
    max-width: 1920px
    margin: auto
    width: 85%
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
.col
    &-20
        flex-basis: 20%
    &-20
        flex-basis: 20%