.languages,.Countries
    background-color: transparent
    color: $light
    border: none
    outline: none
    cursor: pointer
    &>option
        color: $dark
.contact
    display: flex
    text-decoration: none
    color: $light
    &::before
        content: ''
        width: 16px
        height: 16px
        background:  url('../matirial/PSD/img/multiple-users-silhouette.svg') no-repeat center / cover 
        filter: invert(100%)
        margin-right: 10px
.button
    border: none
    text-transform: uppercase
    font-size: 12px
    line-height: 30px
    font-family: 'Poppins-Bold'
    &:hover
        cursor: pointer
    &--primary
        background-color: $yellow
        color: $orange
        box-shadow: 0px 10px 18px  rgba($yellow, 0.4)
        transition: box-shadow 0.3s
        &:hover
            box-shadow: none
    &--outline
        border: 3px solid $light
        background-color: transparent
        color: $light
    &__icon
        box-shadow: 0px 10px 18px rgba($orange, 0.4) 
        width: 50px
        height: 50px
        border-radius: 50px
        background: $orange 
        display: flex
        align-items: center
        justify-content: center
    &__arrow
        &__down
            width: 50px
            height: 50px
            background-color: $yellow
            position: absolute
            margin-top: -50px
            margin-left: 160px
            overflow: hidden
.search
    width: 16px
    height: 16px
    filter: invert(100%)
.location
    outline: none
    border: 0
    padding: 12px 21px
    color: $light
    background-color: $orange-dark
    width: 210px
    height: 50px
    appearance: none

