*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
    line-height: 24px
body
    font-family: 'Poppins-Regular', sans-serif
    font-size: 1rem
h1
    font-family: 'Poppins-SemiBold'
h2
    font-family: 'Poppins-Medium'
