.awesome
    &__section
        &__title
            color: $orange
            display: flex
            &::before
                content: 'services'
                text-transform: uppercase
                position: absolute
                font-size: 150px
                line-height: 80px
                color: $grey-light
                z-index: -10
    &__button
        padding: 10px 48px
        border-radius: 50px
        margin-top: 20px
    &__row
        margin-top: 79px