.service
    background: linear-gradient(to top, rgba($yellow, 0.7), rgba($orange, 0.7), transparent), url('../matirial/PSD/img/service-bg.jpg') no-repeat center / cover 
    padding: 150px 0
    &__section
        &__title
            color: $light
            text-align: center